<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Client account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/clientMenu :: clientMenu"></div>
<div class="container">
    <div class="tab-pane fade show active" id="v-pills-services" role="tabpanel"
         aria-labelledby="v-pills-services-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="booking-tab" data-toggle="tab" href="#booking"
                   role="tab"
                   aria-controls="booking" aria-selected="true"
                   th:text="#{client.table.user_bookings}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="claim-tab" data-toggle="tab" href="#claim" role="tab"
                   aria-controls="claim"
                   aria-selected="false"
                   th:text="#{client.table.user_claims}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="confirmrequest-tab" data-toggle="tab" href="#confirmrequest" role="tab"
                   aria-controls="confirmrequest"
                   aria-selected="false"
                   th:text="#{client.table.user_confirmation_requests}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab"
                   aria-controls="invoice"
                   aria-selected="false"
                   th:text="#{client.table.user_invoices}">
                </a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">

            <!--            My bookings-->
            <div class="tab-pane fade active show" id="booking" role="tabpanel" aria-labelledby="booking-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="booking : ${myBookings}">

                        <tr>
                            <td th:text="${booking.checkinDate}"></td>
                            <td th:text="${booking.checkoutDate}"></td>
                            <td>
                                <th:block th:if="${booking.roomSeats != null}" th:switch="${booking.roomSeats}">
                                    <div th:case="'single'"
                                         th:text="#{room.type.single}">
                                    </div>
                                    <div th:case="'double'"
                                         th:text="#{room.type.double}">
                                    </div>
                                    <div th:case="'twin'"
                                         th:text="#{room.type.twin}">
                                    </div>
                                    <div th:case="'triple'"
                                         th:text="#{room.type.triple}">
                                    </div>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${booking.roomClass != null}" th:switch="${booking.roomClass}">
                                    <div th:case="'standard'"
                                         th:text="#{room.class.standard}">
                                    </div>
                                    <div th:case="'business'"
                                         th:text="#{room.class.business}">
                                    </div>
                                    <div th:case="'lux'"
                                         th:text="#{room.class.lux}">
                                    </div>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${booking.bookingStatus != null}"
                                          th:switch="${booking.bookingStatus.text}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'paid'"
                                         th:text="#{status.paid}">
                                    </div>
                                    <div class="badge badge-warning text-uppercase" th:case="'finished'"
                                         th:text="#{status.finished}">
                                    </div>
                                    <div class="badge badge-primary text-uppercase" th:case="'ongoing'"
                                         th:text="#{status.ongoing}">
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>


            </div>


            <!--            My claims-->
            <div class="tab-pane fade" id="claim" role="tabpanel" aria-labelledby="claim-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="claim : ${myClaims}">
                        <tr>
                            <td>
                                <th:block th:if="${claim.roomSeats != null}" th:switch="${claim.roomSeats}">
                                    <div th:case="'single'"
                                         th:text="#{room.type.single}">
                                    </div>
                                    <div th:case="'double'"
                                         th:text="#{room.type.double}">
                                    </div>
                                    <div th:case="'twin'"
                                         th:text="#{room.type.twin}">
                                    </div>
                                    <div th:case="'triple'"
                                         th:text="#{room.type.triple}">
                                    </div>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${claim.roomClass != null}" th:switch="${claim.roomClass}">
                                    <div th:case="'standard'"
                                         th:text="#{room.class.standard}">
                                    </div>
                                    <div th:case="'business'"
                                         th:text="#{room.class.business}">
                                    </div>
                                    <div th:case="'lux'"
                                         th:text="#{room.class.lux}">
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${claim.checkinDate}"></td>
                            <td th:text="${claim.checkoutDate}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <!--            Confirmation Request-->
            <div class="tab-pane fade" id="confirmrequest" role="tabpanel" aria-labelledby="confirmrequest-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.confirmrequest_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.confirmrequest_due_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.claim_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="confirmrequest : ${myConfirmRequests}">
                        <tr>
                            <td th:text="${confirmrequest.confirmRequestDate}"></td>
                            <td th:text="${confirmrequest.confirmRequestDueDate}"></td>
                            <td>
                                <th:block th:if="${confirmrequest.roomSeats != null}"
                                          th:switch="${confirmrequest.roomSeats}">
                                    <div th:case="'single'"
                                         th:text="#{room.type.single}">
                                    </div>
                                    <div th:case="'double'"
                                         th:text="#{room.type.double}">
                                    </div>
                                    <div th:case="'twin'"
                                         th:text="#{room.type.twin}">
                                    </div>
                                    <div th:case="'triple'"
                                         th:text="#{room.type.triple}">
                                    </div>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${confirmrequest.roomClass != null}"
                                          th:switch="${confirmrequest.roomClass}">
                                    <div th:case="'standard'"
                                         th:text="#{room.class.standard}">
                                    </div>
                                    <div th:case="'business'"
                                         th:text="#{room.class.business}">
                                    </div>
                                    <div th:case="'lux'"
                                         th:text="#{room.class.lux}">
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${confirmrequest.checkinDate}"></td>
                            <td th:text="${confirmrequest.checkoutDate}"></td>
                            <td th:text="${confirmrequest.claimId}"></td>
                            <td>
                                <th:block th:if="${confirmrequest.status != null}" th:switch="${confirmrequest.status}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'confirmed'"
                                         th:text="#{status.confirmed}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                </th:block>
                            </td>

                            <td>
                                <div class="ml-1">
                                    <form th:method="POST" th:action="@{/client/confirmRequest}">
                                        <input type="hidden" name="confirmRequestId"
                                               th:value="${confirmrequest.id}">
                                        <button class="ui-button" type="submit"
                                                th:text="#{confirm.button}"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>


            <!--            Invoices-->
            <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.invoice_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_due_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_amount}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.booking_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_price}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="invoice : ${myInvoices}">

                        <tr>
                            <td th:text="${invoice.invoiceDate}"></td>
                            <td th:text="${invoice.dueDate}"></td>
                            <td th:text="${invoice.amount}"></td>
                            <td th:text="${invoice.bookingId}"></td>
                            <td th:text="${invoice.pricePerNight}"></td>
                            <td th:text="${invoice.checkInDate}"></td>
                            <td th:text="${invoice.checkOutDate}"></td>
                            <td>
                                <th:block th:if="${invoice.status != null}" th:switch="${invoice.status}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'paid'"
                                         th:text="#{status.paid}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                </th:block>
                            </td>

                            <td>
                                <th:block th:if="${invoice.status == null || invoice.status == 'new'}">
                                    <div class="ml-1">
                                        <a class="nav-link" th:href="@{/client/paymentPage(invoiceId=${invoice.id})}">
                                            <button class="ui-button" type="submit" th:text="#{pay.button}"></button>
                                        </a>
                                    </div>
                                </th:block>
                            </td>


                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:insert="fragments/scripts.html"></div>

<script>
    (function () {
        const url = new URL(window.location.href);
        if (url.searchParams.get("successApplic")) {
            showSnackbar("successApplicSnackbar");
        }

        function showSnackbar(tagId) {
            const x = document.getElementById(tagId);
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    })();
</script>
</body>
</html>