<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Client account</title>

    <link rel="stylesheet" href="/static/home.css">


</head>

<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/clientMenu :: clientMenu"></div>
<div class="container">
    <div class="tab-pane fade show active" id="v-pills-services" role="tabpanel"
         aria-labelledby="v-pills-services-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="booking-tab" data-toggle="tab" href="#booking"
                   role="tab"
                   aria-controls="booking" aria-selected="true"
                   th:text="#{client.table.user_bookings}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="claim-tab" data-toggle="tab" href="#claim" role="tab"
                   aria-controls="claim"
                   aria-selected="false"
                   th:text="#{client.table.user_claims}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="confirmrequest-tab" data-toggle="tab" href="#confirmrequest" role="tab"
                   aria-controls="confirmrequest"
                   aria-selected="false"
                   th:text="#{client.table.user_confirmation_requests}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab"
                   aria-controls="invoice"
                   aria-selected="false"
                   th:text="#{client.table.user_invoices}">
                </a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">

            <!--            My bookings-->
            <div class="tab-pane fade active show" id="booking" role="tabpanel" aria-labelledby="booking-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="booking : ${myBookings}">

                        <tr>
                            <td th:text="${booking.checkinDate}"></td>
                            <td th:text="${booking.checkoutDate}"></td>
                            <td th:text="${booking.roomTypeBySeats}"></td>
                            <td th:text="${booking.roomClass}"></td>
                            <td th:text="${booking.bookingStatus}"></td>

                        </tr>
                    </th:block>
                    </tbody>
                </table>


            </div>


            <!--            My claims-->
            <div class="tab-pane fade" id="claim" role="tabpanel" aria-labelledby="claim-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="claim : ${myClaims}">
                        <tr>
                            <td th:text="${claim.roomTypeBySeats}"></td>
                            <td th:test="${claim.roomClass}"></td>
                            <td th:text="${claim.checkinDate}"></td>
                            <td th:text="${claim.checkoutDate}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <!--            Confirmation Request-->
            <div class="tab-pane fade" id="confirmrequest" role="tabpanel" aria-labelledby="confirmrequest-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.confirmrequest_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.confirmrequest_due_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.claim_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="confirmrequest : ${myConfirmRequests}">
                        <tr>
                            <td th:text="${confirmrequest.confirmRequestDate}"></td>
                            <td th:text="${confirmrequest.confirmRequestDueDate}"></td>
                            <td th:test="${confirmrequest.roomTypeBySeats}"></td>
                            <td th:text="${confirmrequest.roomClass}"></td>
                            <td th:text="${confirmrequest.checkinDate}"></td>
                            <td th:text="${confirmrequest.checkoutDate}"></td>
                            <td th:text="${confirmrequest.claimId}"></td>
                            <td th:text="${confirmrequest.status}"></td>
                            <td>
                                <div class="ml-1">
                                    <form action="controller?command=confirmRequest" method="post">
                                        <input type="hidden" name="confirmRequest_id"
                                               value="${confirmrequest.id}">
                                        <button class="ui-button" type="submit"
                                                th:text="#{confirm.button}"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>


            <!--            Invoices-->
            <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.invoice_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_due_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_amount}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.booking_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_price}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="invoice : ${myInvoices}">

                        <tr>
                            <td th:text="${invoice.invoiceDate}"></td>
                            <td th:text="${invoice.dueDate}"></td>
                            <td th:text="${invoice.amount}"></td>
                            <td th:text="${invoice.bookingId}"></td>
                            <td th:text="${invoice.pricePerNight}"></td>
                            <td th:text="${invoice.checkInDate}"></td>
                            <td th:text="${invoice.checkOutDate}"></td>
                            <td th:text="${invoice.status}"></td>

                            <td>
                                <th:block th:if="${invoice.status == null || invoice.status == 'new'}">

                                    <div class="ml-1">
                                        <!--                                           th:href="controller?command=paymentPage&invoiceId=${invoice.id}">-->
                                        <a class="nav-link" th:href="@{/client/paymentPage(invoiceId=${invoice.id})}">
                                            <button class="ui-button" type="submit"  th:text="#{pay.button}"></button>
                                        </a>
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:insert="fragments/scripts.html"></div>

<script>
    (function () {
        const url = new URL(window.location.href);
        if (url.searchParams.get("successApplic")) {
            showSnackbar("successApplicSnackbar");
        }

        function showSnackbar(tagId) {
            const x = document.getElementById(tagId);
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    })();
</script>
</body>
</html>