<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    #errorForm{
        margin-left: 35px;
        margin-top: 35px;
    }
</style>

<body class="text-center" id="errorForm">

<div th:insert="fragments/header"></div>

<h2 class="error"
    th:text="#{error.occurred}">:
</h2>

<h3 th:text="#{smth.went.wrong}"> </h3>
<br>
<a href="/" th:text="#{pls.go.home}"></a>

<div th:insert="fragments/scripts.html"></div>


</body>
</html>
