<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<html>
<style>
    .dropDownPadding {
        margin-right: 20px;
    }

    #sortingSection {
        margin-top: 20px;
        display: flex;
    }

    .bookingSection {
        color: white;
        margin-bottom: 10px;
    }

    #bookBtn {
        margin-top: 5px;
    }
</style>


<head>
    <title>Free rooms list</title>
</head>

<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/clientMenu :: clientMenu"></div>

<div class="container">
    <h1 th:text="#{client.book.choose_time}"></h1>

    <!--        <jsp:useBean id="now" class="java.util.Date"/>-->
    <!--        <fmt:formatDate var="currentDate" value="${now}" pattern="yyyy-MM-dd"/>-->
    <form th:method="GET" th:action="@{/client/book}">
        <input type="hidden" value="freeRoomsToBook" />
        <div class="booking-wrap d-flex justify-content-between align-items-center">
            <div class="single-select-box mb-30">
                <!-- select check-in date -->
                <div class="booking-tittle">
                        <span th:text="#{checkin.date}">:
                        </span>
                </div>
                <div class="booking-datepicker">
                    <input type="date" id="checkin" name="checkin" placeholder="${currentDate}" min="${currentDate}"
                           required />
                    <!--                           th:value="*{checkin}-->

                </div>
            </div>

            <div class="single-select-box mb-30">
                <!-- select check-out date -->
                <div class="booking-tittle">
                        <span th:text="#{checkout.date}">:
                        </span>
                </div>
                <div class="booking-datepicker">
                    <input type="date" name="checkout" placeholder="${currentDate}" min="${currentDate}" required />
                </div>
            </div>

            <button type="submit" class="btn btn-info" th:text="#{find.button}">
            </button>
        </div>
    </form>


    <span th:if="${freeRooms != null && freeRooms.size() > 0}">
            <!-- Dropdowns -->
            <div id="sortingSection">
                <div class="dropdown dropDownPadding">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:text="#{sorting}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},sortBy=${'price'},sortType=${'asc'})}"
                           id="priceAsc" th:text="#{sorting.price.asc}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},sortBy=${'price'},sortType=${'desc'})}"
                           id="priceDesc" th:text="#{sorting.price.desc}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},sortBy=${'class'},sortType=${'asc'})}"
                           id="classAsc" th:text="#{sorting.class.asc}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},sortBy=${'class'},sortType=${'desc'})}"
                           id="classDesc" th:text="#{sorting.class.desc}">
                        </a>
                    </div>
                </div>

                <div class="dropdown dropDownPadding">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:text="#{status}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},status=${'available'})}"
                           id="roomAvailable" th:text="#{sort.status.available}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},status=${'reserved'})}"
                           id="roomReserved" th:text="#{sort.status.reserved}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},status=${'booked'})}"
                           id="roomBooked" th:text="#{sort.status.booked}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},status=${'unavailable'})}"
                           id="roomUnavailable" th:text="#{sort.status.unavailable}">
                        </a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:text="#{sort.seats}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},seats=${'single'})}"
                           id="seatsSingle" th:text="#{sort.seats.single}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},seats=${'double'})}"
                           id="seatsDouble" th:text="#{sort.seats.double}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},seats=${'twin'})}"
                           id="seatsTwin" th:text="#{sort.seats.twin}">
                        </a>
                        <a class="dropdown-item"
                           th:href="@{/client/book(page=${currentPage},checkin=${checkin},checkout=${checkout},seats=${'triple'})}"
                           id="seatsTriple" th:text="#{sort.seats.triple}">
                        </a>
                    </div>
                </div>
            </div>
        <!-- Dropdowns END -->

            <h1 th:text="#{client.book.choose_room}">
            </h1>
            <br>

            <th:block th:each="room : ${freeRooms}">


                <form th:method="POST" th:action="@{/client/book}" th:object="${booking}">

                    <input type="hidden" name="roomId" th:value="${room.getId()}">
                    <input type="hidden" name="checkin" th:value="${checkin}">
                    <input type="hidden" name="checkout" th:value="${checkout}">

                    <div class="bookingSection">

                        <a class="list-group-item list-group-item-action flex-column align-items-start active"
                           style="background-color: #17a2b8">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="#{client.book.type}">
                                    :
                                </h5>
                                <p th:text="${room.roomSeats}"></p>

                                <small>No. <small th:text="${room.roomNumber}"></small></small>

                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="#{client.book.class}">
                                    :
                                </h5>
                                <p th:text="${room.roomClass}"></p>

                            </div>
                            <small>$ <small th:text="${room.price}"></small></small>

                            <th:block th:if="${roomStatus == null || roomStatus == 'available'}">
                                <div id="bookBtn">
                                    <button class="btn btn-light" type="submit" th:text="#{book.button}">
                                    </button>
                                </div>
                            </th:block>
                            <br>
                            <br>
                        </a>
                    </div>


                </form>

            </th:block>

            <div th:insert="fragments/pagination"></div>


        </span>


    <c:if test="${requestScope != null && requestScope.page != null && requestScope.pageCount != null}">
        <form action="controller">
            <input type="hidden" name="command" value="freeRoomsPage" />
            <input type="hidden" name="checkin" value="${requestScope.checkin}" />
            <input type="hidden" name="checkout" value="${requestScope.checkout}" />

            <!--            <nav aria-label="Free rooms navigation">-->
            <!--                <div th:insert="fragments/pagination.html"></div>-->
            <!--            </nav>-->
        </form>
    </c:if>
</div>
<div th:insert="fragments/scripts"></div>
<script>
    function setInputValue(tagId, value) {
        document.getElementById(tagId).value = value;
    }

    function setUrls(tagId, value) {
        if (document.getElementById(tagId)) {
            document.getElementById(tagId).href = value;
        }
    }


    function setOptionalSearchParam(searchParams, paramName, value) {
        const data = value ?? searchParams.get(paramName);
        if (data) {
            searchParams.set(paramName, data);
        }
    }
</script>
</body>

</html>