<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Get all users</title>

    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/managerMenu :: managerMenu"></div>

<h1 th:text="#{all.users}"></h1>

<table class="table table-hover mt-2 center">
    <thead>
    <tr>
        <th scope="col"
            th:text="#{table.th.user.id}">
        </th>
        <th scope="col"
            th:text="#{table.th.user.first_name}">
        </th>
        <th scope="col"
            th:text="#{table.th.user.last_name}">
        </th>
        <th scope="col"
            th:text="#{table.th.user_email}">
        </th>
        <th scope="col"
            th:text="#{table.th.user.country}">
        </th>
        <th scope="col"
            th:text="#{table.th.user.role}">
        </th>

    </tr>
    </thead>
    <tbody>

    <th:block th:each="user : ${usersList}">

        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.country}"></td>
            <td th:text="${user.role}"></td>

        </tr>
    </th:block>
    </tbody>
</table>


<div th:insert="fragments/scripts.html"></div>


</body>
</html>