<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Manager account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:insert="fragments/header"></div>
<div th:insert="fragments/managerMenu :: managerMenu"></div>

<div class="container">
    <div class="tab-pane fade show active" id="v-pills-services" role="tabpanel"
         aria-labelledby="v-pills-services-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" id="claim-tab" data-toggle="tab" href="#claim" role="tab"
                   aria-controls="claim"
                   aria-selected="false"
                   th:text="#{manager.table.claims}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking"
                   role="tab"
                   aria-controls="booking" aria-selected="true"
                   th:text="#{manager.table.bookings}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="confirmrequest-tab" data-toggle="tab" href="#confirmrequest" role="tab"
                   aria-controls="confirmrequest"
                   aria-selected="false"
                   th:text="#{manager.table.confirmation_requests}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab"
                   aria-controls="invoice"
                   aria-selected="false"
                   th:text="#{manager.table.invoices}">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-room-tab" data-toggle="tab" href="#new-room"
                   role="tab"
                   aria-controls="new-room" aria-selected="false"
                   th:text="#{manager.form.new_room}">
                </a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">

            <!--            Claim-->
            <div class="tab-pane fade active show" id="claim" role="tabpanel" aria-labelledby="claim-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.booked_by}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.user_email}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_seats}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_class}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="claim : ${allClaims}">

                        <tr>
                            <td th:text="${claim.bookedByUser}"></td>
                            <td th:text="${claim.bookedByUserEmail}"></td>
                            <td>
                                <th:block th:if="${claim.roomSeats != null}" th:switch="${claim.roomSeats}">
                                    <div th:case="'single'"
                                         th:text="#{room.type.single}">
                                    </div>
                                    <div th:case="'double'"
                                         th:text="#{room.type.double}">
                                    </div>
                                    <div th:case="'twin'"
                                         th:text="#{room.type.twin}">
                                    </div>
                                    <div th:case="'triple'"
                                         th:text="#{room.type.triple}">
                                    </div>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="${claim.roomClass != null}" th:switch="${claim.roomClass}">
                                    <div th:case="'standard'"
                                         th:text="#{room.class.standard}">
                                    </div>
                                    <div th:case="'business'"
                                         th:text="#{room.class.business}">
                                    </div>
                                    <div th:case="'lux'"
                                         th:text="#{room.class.lux}">
                                    </div>
                                </th:block>
                            </td>
                            <td th:text="${claim.checkinDate}"></td>
                            <td th:text="${claim.checkoutDate}"></td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <div>
                                        <button type="submit" class="btn btn-outline-secondary btn-sm"
                                                data-toggle="modal"
                                                th:attr="data-target='#makeRequestModalCenter'+${claim.id }"
                                        >
                                            <i class="material-icons" th:text="#{manager.make.request}"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade bd-example-modal-lg"
                                             th:id="'makeRequestModalCenter' + ${claim.id}"
                                             th:value="${claim.id}"
                                             tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="#makeRequestModalCenterTitle"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg"
                                                 role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="makeRequestModalCenterTitle"
                                                            th:text="#{manager.make.request}">
                                                        </h5>
                                                        <button type="button" class="close"
                                                                data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <form th:method="POST" th:object="${claim}"
                                                              th:action="@{/manager1/makeConfirmRequest}">

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <input type="text" name="checkinDate"
                                                                               class="form-control"
                                                                               th:value="${claim.checkinDate}"
                                                                               minlength="1"
                                                                               maxlength="40"
                                                                               required>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="text" name="checkoutDate"
                                                                               class="form-control"
                                                                               th:value="${claim.checkoutDate}"
                                                                               minlength="1"
                                                                               maxlength="40"
                                                                               required>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group"
                                                                 th:text="#{manager.request.specify_room}">
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <input type="text" name="roomClass"
                                                                               class="form-control"
                                                                               th:value="${claim.roomClass}"
                                                                               minlength="1"
                                                                               maxlength="40"
                                                                               required/>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="text" name="roomSeats"
                                                                               class="form-control"
                                                                               th:value="${claim.roomSeats}"
                                                                               minlength="1"
                                                                               maxlength="40"
                                                                               required/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="d-flex justify-content-end">
                                                                <input type="hidden" name="id"
                                                                       th:value="${claim.id}">
                                                                <button type="submit"
                                                                        class="btn btn-info btn-outline-primary"
                                                                        th:text="#{make_request.button}">
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ml-1">
                                        <form th:action="@{/manager1/removeClaim/{id}(id=${claim.id})}" method="post">
                                            <input type="hidden" name="id" th:value="${claim.id}">
                                            <button type="submit"
                                                    class="btn btn-outline-secondary btn-sm">
                                                <i class="material-icons">delete_outline</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <ul class="pagination">

                    <li class="page-item" th:classappend="${claimPage <= 1 ? 'disabled' : ''}" >
                        <a class="page-link"
                           th:href="@{'/manager1/account/?page=' + ${claimPage - 1}}"
                           aria-label="Prev" id="prevPage">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">&laquo;</span>
                        </a>
                    </li>

                    <th:block th:if="${claimPage - 3 > 1 || (claimPage > 1 && claimPage <= 4)}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + 1}"
                               id="firstPage">1</a></li>
                    </th:block>

                    <th:block th:if="${claimPage - 3 > 1}">
                        <li class="page-item disabled">
                            <a class="page-link"
                               th:href="#{}">...</a></li>
                    </th:block>

                    <th:block th:if="${claimPage - 2 > 1}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage - 1}}"
                               id="pageMin2" th:text="${claimPage - 2}"></a></li>
                    </th:block>

                    <th:block th:if="${claimPage - 1 > 1}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage - 1}}"
                               id="pageMin1" th:text="${claimPage - 1}"></a>
                        </li>
                    </th:block>

                    <li class="page-item active">
                        <a class="page-link"
                           th:href="@{'/?page=' + ${claimPage}}"
                           th:text="${claimPage}"></a></li>

                    <th:block th:if="${claimPage + 1 <= totalClaimPageCount}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage + 1}}"
                               id="pagePlus1" th:text="${claimPage + 1}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${claimPage + 2 <= totalClaimPageCount}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage + 2}}"
                               id="pagePlus2" th:text="${claimPage + 2}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${claimPage + 4 <= totalClaimPageCount}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage + 4}}"
                            >...</a>
                        </li>
                    </th:block>

                    <th:block th:if="${claimPage + 3 <= totalClaimPageCount && totalClaimPageCount >= 4}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{'/manager1/account/?page=' + ${claimPage + 3}}"
                               id="lastPage" th:text="${totalClaimPageCount}"></a>
                        </li>
                    </th:block>

                    <li class="page-item" th:classappend="${claimPage >= totalClaimPageCount ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/manager1/account/?page=' + ${claimPage + 1}}"
                           aria-label="Next" id="nextPage">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!--            Booking-->
            <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="booking-tab">
                <div class="dropdown dropDownPadding">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            th:text="#{status}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="statusPaid" th:text="#{status.paid}"></a>
                        <a class="dropdown-item" href="#" id="statusOngoing" th:text="#{status.ongoing}"></a>
                        <a class="dropdown-item" href="#" id="statusFinished" th:text="#{status.finished}"></a>
                        <a class="dropdown-item" href="#" id="statusNew" th:text="#{status.new}"></a>
                        <a class="dropdown-item" href="#" id="statusCancelled" th:text="#{status.cancelled}"></a>
                    </div>
                </div>
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.booked_by}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.user_email}">
                        </th>
                        <th scope="col"
                            th:text="#{checkin.date}">
                        </th>
                        <th scope="col"
                            th:text="#{checkout.date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_number}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="booking : ${allBookings}">

                        <tr>
                            <td th:text="${booking.bookedByUser}"></td>
                            <td th:text="${booking.bookedByUserEmail}"></td>
                            <td th:text="${booking.checkinDate}"></td>
                            <td th:text="${booking.checkoutDate}"></td>
                            <td th:text="${booking.roomNumber}"></td>
                            <td>
                                <th:block th:if="${booking.bookingStatus != null}" th:switch="${booking.bookingStatus.text}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'paid'"
                                         th:text="#{status.paid}">
                                    </div>
                                    <div class="badge badge-warning text-uppercase" th:case="'finished'"
                                         th:text="#{status.finished}">
                                    </div>
                                    <div class="badge badge-primary text-uppercase" th:case="'ongoing'"
                                         th:text="#{status.ongoing}">
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

            </div>



            <!--            Confirmation Request-->
            <div class="tab-pane fade" id="confirmrequest" role="tabpanel" aria-labelledby="confirmrequest-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.booked_by}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.user_email}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.claim_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.room_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.confirmrequest_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="confirmrequest : ${allConfirmRequests}">

                        <tr>
                            <td th:text="${confirmrequest.bookedByUser}"></td>
                            <td th:text="${confirmrequest.bookedByUserEmail}"></td>
                            <td th:text="${confirmrequest.claimId}"></td>
                            <td th:text="${confirmrequest.roomId}"></td>
                            <td th:text="${confirmrequest.confirmRequestDate}"></td>
                            <td>
                                <th:block th:if="${confirmrequest.status != null}" th:switch="${confirmrequest.status}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'confirmed'"
                                         th:text="#{status.confirmed}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <!--            Invoice-->
            <div class="tab-pane fade active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col"
                            th:text="#{table.th.booked_by}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.user_email}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_amount}">, $
                        </th>
                        <th scope="col"
                            th:text="#{table.th.booking_id}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.invoice_date}">
                        </th>
                        <th scope="col"
                            th:text="#{table.th.status}">
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="invoice : ${allInvoices}">

                        <tr>
                            <td th:text="${invoice.bookedByUser}"></td>
                            <td th:text="${invoice.bookedByUserEmail}"></td>
                            <td th:text="${invoice.amount}"></td>
                            <td th:text="${invoice.bookingId}"></td>
                            <td th:text="${invoice.invoiceDate}"></td>
                            <td>
                                <th:block th:if="${invoice.status != null}" th:switch="${invoice.status}">
                                    <div class="badge badge-danger text-uppercase" th:case="'new'"
                                         th:text="#{status.new}">
                                    </div>
                                    <div class="badge badge-success text-uppercase" th:case="'paid'"
                                         th:text="#{status.paid}">
                                    </div>
                                    <div class="badge badge-secondary text-uppercase" th:case="'cancelled'"
                                         th:text="#{status.cancelled}">
                                    </div>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <!--            Add a room-->
            <div class="tab-pane fade" id="new-room" role="tabpanel"
                 aria-labelledby="new-room-tab">
                <form class="mt-2" th:method="POST" th:action="@{/manager1/addRoom}">
<!--                    <p style="color:red" th:if="${#fields.hasErrors('${room}')}" th:errors="${newRoom}"></p>-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" name="roomSeats">
                                    <option value="single" th:text="#{sort.seats.single}"></option>
                                    <option value="double" th:text="#{sort.seats.double}"></option>
                                    <option value="twin" th:text="#{sort.seats.twin}"></option>
                                    <option value="triple" th:text="#{sort.seats.triple}"></option>
                                </select>
                            </div>

                            <div class="col">
                                <select class="custom-select" name="roomClass">
                                    <option value="standard" th:text="#{room.class.standard}"></option>
                                    <option value="business" th:text="#{room.class.business}"></option>
                                    <option value="lux" th:text="#{room.class.lux}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" name="roomNumber" class="form-control"
                                       th:placeholder="#{manager.modal.placeholder.number}"
                                       minlength="1"
                                       maxlength="40"
                                       required>
                            </div>
                            <div class="col">
                                <input type="number" id="price" required="required"
                                       name="price" class="form-control"
                                       step="0.01"
                                       th:placeholder="#{manager.modal.placeholder.price}" value=""
                                       min="1" minlength="1"/>
<!--                                <div style="color:red" th:if="${#fields.hasErrors('price')}"-->
<!--                                     th:errors="*{price}">Price Error-->
<!--                                </div>-->
                            </div>
<!--                            <div class="col">-->
<!--                                <input type="number" th:field="*{price}" id="price" required="required"-->
<!--                                       name="price" class="form-control"-->
<!--                                       step="0.01"-->
<!--                                       th:placeholder="#{manager.modal.placeholder.price}" value=""-->
<!--                                       min="1" minlength="1"/>-->
<!--                                <div style="color:red" th:if="${#fields.hasErrors('price')}"-->
<!--                                     th:errors="*{price}">Price Error-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col">
                                <select class="custom-select" name="roomStatus">
                                    <option value="available" th:text="#{sort.status.available}"></option>
                                    <option value="unavailable" th:text="#{sort.status.unavailable}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <button type="submit" class="btn btn-info"
                            th:text="#{manager.modal.button.save}">
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/scripts.html"></div>

<script>
    (function () {
        setUrls("statusPaid", buildUrl(1, "paid"));
        setUrls("statusOngoing", buildUrl(1, "ongoing"));
        setUrls("statusFinished", buildUrl(1, "finished"));
        setUrls("statusNew", buildUrl(1, "new"));
        setUrls("statusCancelled", buildUrl(1, "cancelled"));
    })();

    function buildUrl(page, bookingStatus) {
        const result = new URL(window.location.href);
        result.searchParams.set("page", page);
        setOptionalSearchParam(result.searchParams, "bookingStatus", bookingStatus);
        return result;
    }

    function setOptionalSearchParam(searchParams, paramName, value) {
        const data = value ?? searchParams.get(paramName);
        if (data) {
            searchParams.set(paramName, data);
        }
    }
</script>
</body>
</html>
