<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Registration page</title>

    <link rel="stylesheet" href="/css/style.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .navLink {
            color: white !important;
        }

        body {
            background-color: floralwhite;
        }
    </style>
</head>

<body>

<div th:insert="fragments/header"></div>

<nav class="navbar background">
    <ul class="nav-list">
    <div class="logo">
        <img th:src="@{/pictures/logo-hotel.jpg}" alt="logo">
    </div>
        <li><a href="#rooms" class="navLink" th:text="#{home.menu.button.rooms}"></a></li>
        <li><a href="/" class="navLink" th:text="#{menu.button.home}"></a></li>
    </ul>


    <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">
                language
            </i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form class="form-inline" th:action="@{/language}">
                <button type="submit" name="en"
                        class="dropdown-item" onclick="changeFieldElement('lang', 'en')">
                    <p th:text="#{main.menu.button.english}"></p>
                </button>
                <button type="submit" name="uk"
                        class="dropdown-item" onclick="changeFieldElement('lang', 'uk')">
                    <p th:text="#{main.menu.button.ukrainian}"></p>
                </button>
                <input name="lang" type="hidden" value="en"/>
            </form>
        </div>
    </div>

</nav>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3 th:text="#{register.welcome}"></h3>
            <p th:text="#{register.welcome.text}"></p>
            <form class="form-signin" method="post" action="/login">

                <button class="btn btn-lg btn-block btn-info" type="submit" th:text="#{login.button.login}"></button>
                <br/>
                <br/>
            </form>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="client-tab" data-toggle="tab" href="#client" role="tab"
                       aria-controls="client" aria-selected="true" th:text="#{register.header.client}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="manager-tab" data-toggle="tab" href="#manager" role="tab"
                       aria-controls="manager" aria-selected="false" th:text="#{register.header.manager}"></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">



                <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">

                    <h3 th:text="#{register.header.as.client}" class="register-heading"></h3>

                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You've successfully registered as a client!
                        </div>
                    </div>

                    <form class="form-signup" th:method="POST" th:action="@{/register}" th:object="${user}">

                        <div class="row register-form">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{firstName}" id="firstName" required="required"
                                           name="firstName" class="form-control"
                                           th:placeholder="#{register.placeholder.first_name}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}">First Name Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{lastName}" id="lastName" required="required"
                                           name="lastName" class="form-control"
                                           th:placeholder="#{register.placeholder.last_name}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}">Last Name Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{country}" id="country" required="required"
                                           name="country" class="form-control"
                                           th:placeholder="#{register.placeholder.country}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('country')}"
                                         th:errors="*{country}">Country Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" name="role" class="form-control"
                                           th:placeholder="#{register.placeholder.client}"
                                           readonly="readonly" th:value="#{role.client}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" id="email" required="required"
                                           name="email" class="form-control"
                                           th:placeholder="#{register.placeholder.email}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">Email Error
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="password" th:field="*{password}" id="password" required="required"
                                           name="password" class="form-control"
                                           th:placeholder="#{register.placeholder.password}"
                                           value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">Password Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" th:field="*{confirmPassword}" id="confirmPassword"
                                           required="required" name="confirmPassword"
                                           class="form-control"
                                           th:placeholder="#{register.placeholder.confirm.password}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}"
                                         th:errors="*{confirmPassword}">Password Error
                                    </div>
                                </div>

                                <button class="btn btn-info btn-lg btn-primary btn-block" type="submit"
                                        th:text="#{register.button}"></button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="tab-pane fade show" id="manager" role="tabpanel" aria-labelledby="manager-tab">
                    <h3 th:text="#{register.header.as.manager}" class="register-heading"></h3>

                    <form class="form-signup" th:method="POST" th:action="@{/register}" th:object="${user}">

                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{firstName}" id="firstNameM" required="required"
                                           name="firstName" class="form-control"
                                           th:placeholder="#{register.placeholder.first_name}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}">FirstName Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{lastName}" id="lastNameM" required="required"
                                           name="lastName" class="form-control"
                                           th:placeholder="#{register.placeholder.last_name}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}">Last Name Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{country}" id="countryM" required="required"
                                           name="country" class="form-control"
                                           th:placeholder="#{register.placeholder.country}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('country')}"
                                         th:errors="*{country}">Country Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" name="role" class="form-control"
                                           th:placeholder="#{register.placeholder.manager}"
                                           readonly="readonly" th:value="#{role.manager}"/>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <input type="email" th:field="*{email}" id="emailM" required="required" name="email"
                                           class="form-control"
                                           th:placeholder="#{register.placeholder.email}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">Email Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" th:field="*{password}" id="passwordM" required="required"
                                           name="password" class="form-control"
                                           th:placeholder="#{register.placeholder.password}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">Password Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" th:field="*{confirmPassword}" id="confirmPasswordM"
                                           required="required" name="confirmPassword"
                                           class="form-control"
                                           th:placeholder="#{register.placeholder.confirm.password}" value=""/>
                                    <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}"
                                         th:errors="*{confirmPassword}">Confirm Password Error
                                    </div>
                                </div>

                                <button class="btn btn-info btn-lg btn-block" type="submit"
                                        th:text="#{register.button}"></button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="background" id="footer">
    <p class="text-footer"
       th:text="#{home.copyright}">
    </p>
</footer>

<div th:insert="fragments/scripts.html"></div>

<script>
    function changeFieldElement(element, value) {
        document.getElementsByName(element)[0].value = value;
    }
</script>
</body>

</html>